.App {
  text-align: center;
  position: relative;
  height: 100vh;
 background-color: rgb(64, 26, 114);
 font-family: "Open Sans", sans-serif;
 background-image: url('./Images/home.webp');
background-size: cover;
background-repeat: no-repeat;
 z-index: 3;

}

body{
height: 100%;
width: 100%;
overflow-y: hidden;

}

.backgroundAppCover{
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  
}


.resultsBackgroundCover{
  background-color: rgb(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.resultsBackgroundCover.active{
  display: none;
}
.resultsHeaderBox p{
  border-bottom: 1px #c2c2c2 solid;
  background-color: #f9e000;
  width: 100%;
  margin-top: 40px;
  padding: 20px;


}


.resultsBox{
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 250px auto;


}

.monthlyAmountText{
  font-size: 40px;
  font-weight: 500;
  color: rgb(37, 37, 37);
  margin-top: 40px;
  animation: moveBox 1s alternate;

}

.btn-close{
  position: absolute;
  right: 10px;
  top: 10px;
}

nav{
  background-color: transparent;
  padding: 20px;
  color:rgb(255, 255, 255);
  z-index: 5;
}

nav h1{
  font-weight: 600;
}

.mortgagePriceContainer{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background-color: white;
  border-radius: 4px;
  z-index: 2;

}
.headerContainer{
  background-color: #f9e000;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #aaaaaa;
}


main{
  width: 100%;
  padding: 20px;
}
.userInfoContainer{
  text-align: left;
}

.downPaymentText{
  font-size: 18px;
  font-weight: 700;
}

.downPaymentPrice{
  font-size: 20px;

  font-weight: 400;

}

.calculateBtn{
  margin-top: 40px;
  width: 100%;
  background-color: #f9e000;
  color: rgb(22, 22, 22);
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  border:none;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
}
.calculateBtn.active{
  margin-top: 40px;
  width: 100%;
  opacity: 0.4;
  color: rgb(22, 22, 22);
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  border:none;
}

.reCalculateBtn{
  margin: 40px 10px;
  width: 350px;
  background-color: #f9e000;
  color: rgb(22, 22, 22);
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  border:none;
}
.showCalculateBtn.active{
  background-color: rgb(64, 26, 114);

}

label{
  font-size: 16px;
  font-weight: 600;
}


footer{
  margin-top: 20px;
  color: white;
}



@keyframes moveBox {

  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
  
}
